/* Стилі для STUDIO*/

/* колір основного тексту  #434455 */
/* колір другорядного тексту #2E2F42 */
/* білий текст #FFFFFF */
/* акцент #4D5AE5 */
/* колір фону макету там де контакти #FFFFFF */
/* колір фону #F4F4FD */
/* колір фону там де кнопка/футер #2E2F42 */
/* другорядний колір фону макету/фотокартки #F4F4FD */
/* лого #F4F4FD */
/* лого #4D5AE5 */
/* лого #2E2F42 */
/* text-footer*/
/* customers-color */
/* колір основного тексту #2E2F42 */
/* колір другорядного тексту #434455 */
/* колір фону макету #FFFFFF */
/* footer #2E2F42 */  
/* білий текст #E7E9FC */
/* logo #F4F4FD */
/* кнопка активна #404BBF */
/* неактивна кнопка #4D5AE5 */

:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --text-white-color: #FFFFFF;
    --secondary-fond-color: #2E2F42;
    --secondary-color-photocard: #F4F4FD;
    --text-color-footer: #E7E9FC;
    --customers-color: #8E8F99;
    
    --main-color-text: #2E2F42;
    --color-secondary-text: #434455;
    --color-maket: #FFFFFF;
    --color-footer: #2E2F42;
    --color-button-active: #404BBF;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img{
    display: block;
    height: auto;
    width: 100%;
}

* {box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.list {
    padding: 0; 
    margin: 0;  
    list-style: none;
   }



p,
h1,
h2,
h3,
h4,
ul {
 margin-top: 0;
 margin-bottom: 0;
}


button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}








.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: inset 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
                      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                      0px 2px 1px 0px  rgba(46, 47, 66, 0.08);
}

.main-header {
    display: flex;
    align-items: center;
}




.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
   /* max-width: 1158px; */
     }
    


body {
font-size: 16px;   
background-color: var(--text-white-color);
color: var(--secondary-fond-color);
font-family: Roboto, sans-serif;
}

/* logo */

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color); 
    text-decoration: none; 
    margin-right: 76px;
    }


/* nav-link*/
.nav-link .curent{
    color: #404BBF;
}
    .current::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #404BBF;
}

.nav-link{

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-fond-color);
    text-decoration: none;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
     .nav-link.curent{
        color: #404BBF;
     }
                

 .site-nav .item{

 }

 .site-nav {         /* в ряд*/
    display: flex; 
    gap: 40px;                       
}


/*.site-nav .item:last-child { 
    margin-right: 0;
    } */

 .site-nav li {
      /* відстань між ними*/
        }

  /* .site-nav .item:not(:last-child) {
    margin-right: 40px; }   */
     
  
   .site-nav  .item + .item {

   }



   .contact-link .item + .item {
    margin-left: 40px;
   }


   .photo-card{
    display: flex;
    gap: 24px;

    flex-wrap: wrap;
   }

   .work-card{
   display: flex;
   gap: 24px;
    }

    






.nav-link.current{
    color: var(--color-button-active);

}





    .nav-link:hover{
     color:#404BBF;
       }
    .nav-link:focus{
        color:#404BBF;

    }  

/* contact-link */

.contact-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    display: flex;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .address-link{
    display: flex;
    margin-left: auto;
    font-style: normal;
   }



   .contact-link:hover{
   color: #404BBF;
   }
 
   /* Hero */  

   .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    color: var(--text-white-color);
    max-width: 496px;
    margin: 0 auto;
    } 

   .hero {
    text-align: center;
    margin-top: 0;
   ; 
     
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
     
    background-image: linear-gradient(
      to right, 
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)
    ),  
     url(../images/people-office\(1\).jpg);
     background-color:var(--title-text-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }

 
   .business{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   }

    /* Modal */
 

    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(46, 47, 66, 0.4);
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }   

    .modal{
        max-width: 408px;
        max-height: 584px;
        background-color: #FCFCFC;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(1);
        position: absolute;
        padding: 72px 24px 24px 24px;
        background: #FCFCFC;
        box-shadow: 0px 1px 1px rgb(0 0 0 / 14%),
                    0px 1px 3px rgb(0 0 0 / 12%),
                    0px 2px 1px rgb(0 0 0 / 20%);
         border-radius: 4px;
         opacity: 1;
         transition: tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);           
                    
    }


    .backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }



.modal-button{
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 24px;
    right: 24px;
    position: absolute;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button:hover, 
.modal-button:focus {
    background-color: var(--color-button-active);
    fill: var(--text-white-color);
}


.modal-icon{
    width: 8px;
    height: 8px;
}







      /* Button */
   
    .button.primary {
    text-align: center;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: var(--text-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 16px 32px;
    border: 1px solid transparent;
    margin-top: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    transition:background-color var(--transition)
    }
   

.button.primary:hover,
.button.primary:focus{
   background-color:#404BBF;
   color: #FFFFFF;
}
    

.buttons{
        display: flex;
        justify-content: center;
        gap: 24px;
}




    
.poitner{
    cursor: pointer;
}




     /* Section */

       

    .strategy{
        display: flex;
        gap: 24px;
    }

.right{
    width: 264px;
}

 
   
   .right::before{
    display: block;
    content:"";
   height: 112px;
   outline: 1px;
   background-color:#F4F4FD;
   border-radius: 4px;
   background-repeat: no-repeat;
   background-position: center;
   margin-bottom: 8px;
 }
 .icon-vector::before{
    background-image: url(../images/group.svg.svg);
 }
.icon-cloc::before{
    background-image: url(../images/clock.svg.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram.svg.svg);
}
.icon-astronaut::before{
    background-image: url(../images/astronaut.svg.svg);
}




.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
}


.we-doing{
    padding-bottom: 120px;
}


.section-team{
    top: 1548px;
    background:var(--secondary-color-photocard);
    padding-top: 120px;
    padding-bottom: 120px;
}
/*}
@media screen and (min-width: 320px) {
    .one {
    padding-top: 96px;
    padding-bottom: 96px;
    }
}
@media screen and (min-width: 1158px) {
 .one {
padding-top: 120px;
padding-top: 96px; 
}   
}
*/
    
 
 





    .visually-hidden{

    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px

    }

.section{
padding-top: 120px;
padding-bottom: 120px;
}
  
.section.no-padding{
    padding-top: 0;
    padding-bottom: 0;
}

    .section-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
     color: var(--primary-text-color);   
    }

    .section-title{
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--secondary-fond-color);   
        }

      /* Work-list*/ 

    .work-list{
        margin-top: 0;
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--secondary-fond-color);

         }
        

     .section-personnel{
        background-color: #FFFFFF;
      /* flex-basis: calc((100% - 72px) / 4 ); */
        border-radius: 0px 0px 4px 4px;
        width: 100%;

     }


      .letter-staff{
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--secondary-fond-color);
                }
                
        .specialty-section{
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
             }



           .title{
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-align: center;
            margin-bottom: 72px;
            ;
            color:var(--main-color-text);
           }
              .customers-list{
              font-style: normal;
              letter-spacing: 0.2em;
              color: var(--customers-color);
              list-style: none;
              display: flex;
              gap: 24px;
              justify-content: space-between;
              align-items: center;
              padding-left: 0px;
            } 
          



           .information-company{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 168px;
            height: 88px;
            border: 1px solid var(--customers-color);
            color: var(--customers-color);
            border-radius: 4px;
            transition: border-color var(--transition), color var(--transition);
           } 
           .information-company:hover,
           .information-company:focus{
           border-color:var(--color-button-active);   
           color:var(--color-button-active);
           }
            
            .icons-company{
            fill:currentColor;
            height: 56px;
            width: 104px;
           }
             
            .customers-item{
            width: 168px;
            height: 88px;
           }     
           .customers{
            padding-top: 120px;
            padding-bottom: 120px;
           }
    
            /* Footer */

           .footer {
            display: flex;
            background-color:var(--color-footer);
            padding: 100px 0px;
             }

            .accent{
                color:var(--accent-color);  
              }

              .logo-footer{
                margin-top: 0;
                color:var(--secondary-color-photocard);
            }

    .footer-text {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        height: 72px;
        box-sizing: content-box;  
                color:var(--text-color-footer);
                margin-top: 16px;
                  } 

   /* socials footer */ 
   .text-socials{
    font-size: 16px; 
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-white-color);
    margin-bottom: 16px;
   }
    
   .container-footer{
    width: 208px;
    margin-left: 120px;
   }
   
   .foot-tex{
    display:flex;
   }
              .socials-footer{
                    width: 40px;
                    height: 40px;
                  } 
                  
             .socials-list-footer{
              margin: 0;
              padding: 0;
              display: flex;
              gap: 16px;
              list-style: none;
             }

             .icon-footer{
                width: 24px;
                height: 24px;
                fill:var(--secondary-color-photocard)
             }


             .socials-link-footer{
                display: flex;
                align-items: center;
                justify-content: center;
               width: 100%;
               height: 100%;
               background-color: rgba(255, 255, 255, 0.1);
               border-radius: 50%;
               transition: background-color var(--transition);
              
             } 
             .socials-link-footer:focus{
                background-color: rgba(49, 208, 170, 1);
             }
             .socials-link-footer:hover{
               background-color: rgba(49, 208, 170, 1);
             }
                
            

    .pecture-bottom  {
        padding-bottom: 32px;
        padding-top: 32px;
        padding-right: 16px;
        padding-left: 16px;
    }           
                
     .pecture-portfolio {
        padding-bottom: 32px;
        padding-top: 32px;
        padding-right: 16px;
        padding-left: 16px;
        border-left: 1px solid #E7E9FC;
        border-right: 1px solid #E7E9FC; 
        border-bottom: 1px solid #E7E9FC;  ;
     }
 
      /* section */
                     
      .team-list{
        margin-left: auto;
        margin-right: auto;
      }

      



       /* Social */
     .socials-list{
        display: flex;
        gap: 24px;
        list-style: none;
        justify-content: center;
        padding-left: 0px;
     }



     .socials-item{
       width: 40px;
       height: 40px;
     }

     .socials-link{
        display:flex;
        align-items: center;
        justify-content: center;
      width: 100%;
      height: 100%;
      background-color: var(--accent-color);
      border-radius: 50%;
      transition: background-color var(--transition);
     }
      .socials-link:hover {
       background-color:#404BBF;
      }
      .socials-link:focus {
        background-color: #404BBF;
      }

     .socials-icon{
      width: 16px;
      height: 16px;
      fill: var(--secondary-color-photocard);
     }


.link-button{
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #F4F4FD;
color: #4D5AE5;
border-radius: 4px;
padding: 12px 24px;
border: 1px solid #e7e9fc; 
cursor: pointer;
transition: border-color var(--transition), background-color var(--transition), color var(--transition), box-shadow var(--transition);

}

.portfolio-link:hover, 
.portfolio-link:focus{
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%),
                0px 1px 1px rgb(46 47 66 / 16%),
                0px 2px 1px rgb(46 47 66 / 8%);         
    } 
     

.portfolio-link:hover .overlay, 
.portfolio-link:focus .overlay{
opacity: 1;
transform: translate(0, 0);
}

    .portfolio-link{
        display: block;
    text-decoration: none;
    transition: box-shadow 250ms var(--transition);
    }    

   .portfolio{
    padding-bottom: 120px;
    padding-top: 96px; 
} 

 
.flex-element:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),  
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.flex-element:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),  
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.flex-container {
display: flex;
padding: 0;
row-gap: 48px;
column-gap: 24px;
flex-wrap: wrap;
margin-top: 84px;
}


 .flex-element{
    color: var(--text-color-footer);
flex-basis: calc((100% - 2 * 24px) / 3 );
} 




.link-button:hover,
.link-button:focus {
    color:var(--color-maket);
    background-color:var(--color-button-active);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.10),
             0px 2px 1px rgba(0, 0, 0, 0.08),
             0px 2px 2px rgba(0, 0, 0, 0.12);
}


 
.poitner{
    cursor: pointer;
}

.link{
    text-decoration: none;
}
.item{
    position: relative;
}
.overlay{
font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color: var(--color-maket);
background-color: var(--color-button-active);
padding: 40px 32px;
overflow: auto;
opacity: 0;
transform: translate(0, 100%);
transition: transform var(--transition), opacity var(--transition);
}

.wrapper {
    overflow: hidden;
    position: relative;
}
  .wrapper:hover, 
  .wrapper:focus{
    transform: translateY(0);
    opacity: 1;
  }







.form-imput{
    position: relative;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 36px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/* .form{
    width: 408px;
    outline: 1px solid aqua;
    margin-right: auto;
    margin-left: auto;
    padding-top: 72px;
    padding-bottom: 24px;
} */

.form-field{
    outline: 1px;
    position: relative;
}


.you-contact{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--headlines-font);
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}


.form-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
  
.form-label:last-child {
    margin-bottom: 0;
}

.form-svg{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea{
    resize: none;
    width: 360px;
    height: 120px;
    display: block;
    padding: 8px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.form-field:nth-child(5){
    margin-top: 16px;
}
 .form-field{
    position: relative;
    margin-top: 8px;
 }

.form-icons{
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkbox-input{
    appearance: none;
}

.checkbox-icon{
    top: 0;
    left: 21px;
    content: ' ';
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    justify-content: center;
    display: flex;
    align-items: center; 
    cursor: pointer;
}
 .checkbox-labl{
    padding-left: 20px;
    color: #757575;
 }
 .checkbox-label, privacy-policy{
    appearance: none;
    display: flex;
    padding: 0;
 }

.form-button{
    
         text-align: center;
         font-size: 16px;
         font-family: Roboto, sans-serif;
         color: var(--text-white-color);
         background-color: var(--accent-color);
         border-radius: 4px;
         padding: 16px 32px;
         border: 1px solid transparent;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
         line-height: 1.5;
         letter-spacing: 0.04em;
         cursor: pointer;
         font-weight: 500;
         transition:background-color var(--transition);
         margin: 24px 96px 0 96px;
         min-width: 169px;
}
 
.form-button:hover {
    background-color: #404BBF;
}


.form-icons{
    display: flex;
    align-items: center;
    justify-content: center;

}



.form-input{
    position: relative;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 36px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.column{
    margin-left: 80px;
}


.footer-column{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-maket);
}

.footer-list{
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.entry-field{
    width: 264px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 8px 16px;
}

 .footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 165px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-maket);
    background: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }



.footer-button:focus, .footer-button:hover {
    background-color: var(--color-button-active);
}

.icon-send{
    fill: #FFFFFF;

}




.icon-input{
    position: relative;
}

.privacy-policy{
    color: var(--accent-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}


.form-input:hover, 
.form-input:focus{
    border-color: var(--accent-color);
}
 

   
.form-input:focus + .form-svg, .form-input:hover + .form-svg {
    fill: var(--accent-color);
}


.comment-textarea:focus, .comment-textarea:hover {
    border-color:var(--accent-color);
}


.text-privacy {
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}


.checkbox-input:checked + .checkbox-icon{
    background-color: #404BBF;
    background-image: url(../images/vector\(6\)\(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 


.checkbox-checkbox{
     
}
