@media screen and (min-width: 798px) {
    .container{
        max-width: 798px;
    } 
    .container,
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    @media screen and (min-width: 798px),(max-width: 1470px) {
        .container-sm {
      max-width: 582px;
        }
    }

        .photo-card .section-personnel {
            flex-basis: calc((100% - 24px) / 2);
        }
        
       
       .customers-list .customers-item {
            flex-basis: calc((100% - 24px) / 2);
        }

        }
    .customers-list{
        column-gap: 24px;
    }



    @media screen and (min-width: 798px) {
        .foot-tex  {
            flex-direction: column;
            gap: 72px;
        }
    }
  
   
        .footer-content{
          max-width: 268px;
          margin: 0 auto;
        }
        
      